@charset "UTF-8";
.layer_bg {
  Background: #000;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 500;
}

.link_string {
  cursor: pointer;
  color: #666;
  font-weight: bold;
}

.link_string:hover {
  text-decoration: underline;
}

.link_upd {
  cursor: pointer;
  color: #FF6600;
}

.link_upd:hover {
  text-decoration: underline;
}

/*Слайдер загрузки*/
.lds-ring {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 0% 35%;
  margin-top: 25%;
}

.lds-ring.list-ring div {
  width: 15px;
  height: 15px;
  border: 3px solid orange;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.7, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.7, 0, 0.5, 1) infinite;
  border-color: orange transparent transparent transparent;
}

.lds-ring.centered {
  margin: 0% 50%;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 6px;
  border: 6px solid orange;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: orange transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*Message snack*/
.v-snack {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  pointer-events: none;
  z-index: 1000;
  font-size: 14px;
  left: 0;
  right: 0;
}

.v-snack--bottom {
  bottom: 0;
  left: -40%;
  position: fixed;
}

.v-snack__content {
  width: 100%;
  padding: 14px 24px;
  margin: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  color: white;
}

.v-snack_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #323232;
  pointer-events: auto;
  width: 100%;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.error {
  background-color: #ff8181 !important;
  border-color: #ff8181 !important;
}

.info {
  background-color: #ff9900 !important;
  border-color: #ff9900 !important;
}

.modal_wrap_container {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  top: 0;
  z-index: 900;
  padding-top: 2%;
  padding-left: 5%;
  margin-top: 5px;
  background: #fff;
  border-radius: 6px 4px 4px 4px;
}

.field-table {
  width: 60%;
  margin-right: 10px;
}

.field-container {
  background-color: transparent;
}

.field-row {
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.field-block {
  display: inline-block;
  vertical-align: bottom;
  width: 24%;
}

.field-block_huge {
  width: 73%;
}

.field-block_full {
  width: 100%;
}

.field-block__wrapper {
  position: relative;
  margin-left: 10px;
}

.field-block__wrapper span {
  float: right;
}

.field-block__wrapper_item {
  background-color: transparent;
  border: none;
  height: 24px;
  /* IE6-9 fix*/
  line-height: 24px;
  width: 100%;
  outline: none;
  padding: 0;
  z-index: 0;
  font-size: 12px;
  margin-top: 2px;
}

.field-block__wrapper_item_item textarea {
  resize: none;
  margin-top: 1%;
  /* иначе прилипает текст при больших размерах */
}

.field-block__wrapper_item_item p {
  border-bottom: 2px gray;
  padding-top: 2px;
}

.likePlaceholder {
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color,bottom,transform;
  -webkit-transition-property: color,bottom,-webkit-transform;
  transition-property: color,bottom,-webkit-transform;
  transition-property: color,bottom,transform;
  transition-property: color,bottom,transform,-webkit-transform;
  font-size: 14px;
  pointer-events: none;
  position: absolute;
  bottom: 10%;
  left: 3px;
}

.borderPseudo {
  background-color: #d8d8d8;
  height: 1px;
}

.borderPseudo.borderPseudoLine {
  background-color: orange;
  height: 2px;
}

.likeLabel {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  color: gray;
  font-weight: 600;
  left: -4px;
  bottom: 100%;
  width: 110%;
  /*Когда текст немного больше блока*/
  top: -12px;
}

.lineIt {
  background-color: orange;
  -webkit-transform-origin: 90px center 0px;
          transform-origin: 90px center 0px;
  position: absolute;
  width: 100%;
  bottom: -2px;
  height: 2px;
}

.errorMsg {
  color: red;
}

.ok {
  color: green;
}

.normal {
  color: blue;
}

.warning {
  color: #ef7a13;
}

.history {
  width: 35%;
}

.history-block {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: -19px;
  margin-left: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.history-table {
  display: inline-block;
  width: 32.33%;
}

.history-table__row:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eeeeee), to(#cccccc));
  background: linear-gradient(to bottom, #eeeeee 1%, #cccccc 100%);
  border-bottom: 1px solid orange;
}

.history-table__header-row, .history-table__row {
  text-align: center;
  border-bottom: 2px solid #EAEAEA;
}

.vessel-container {
  text-align: center;
  width: 105%;
}

.vessel-container__chb {
  text-align: right;
  padding-right: 40px;
}

.vessel-header {
  width: 109%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeee), to(#cccccc));
  background: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

.vessel-header_line {
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vessel-block {
  border-bottom: 1px solid gray;
  display: -ms-inline-grid;
  display: inline-grid;
  height: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100px;
  min-width: 95px;
  position: relative;
}

.vessel-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 109%;
}

.vessel-block__row:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eeeeee), to(#cccccc));
  background: linear-gradient(to bottom, #eeeeee 1%, #cccccc 100%);
  border-bottom: 1px solid orange;
}

/*=================Close btn=================*/
.close {
  opacity: 0.3;
}

.closeContainer {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -40px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.closeContainer:hover a {
  opacity: 1;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  top: -4px;
  left: 10px;
  content: " ";
  height: 25px;
  width: 2px;
  background-color: #fff;
  background: #323232;
}

.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close__ligth:before, .close__ligth:after {
  background-color: #fff;
  background: #fff;
}

.chartContainer {
  padding-top: 30px;
}

/* media */
@media only screen and (min-width: 600px) {
  .v-snack__wrapper {
    width: auto;
    max-width: 568px;
    min-width: 288px;
    margin: 0 auto;
    border-radius: 2px;
  }
}

@media (min-width: 576px) {
  .modal_wrap_container {
    width: 500px;
    height: 600px;
    margin-left: -10%;
  }
}

@media (min-width: 768px) {
  .modal_wrap_container {
    width: 700px;
    height: 550px;
    margin-left: -20%;
  }
}

@media (min-width: 992px) {
  .modal_wrap_container {
    width: 900px;
    height: 600px;
    margin-left: -10%;
  }
}

@media (min-width: 1200px) {
  .modal_wrap_container {
    width: 1100px;
    height: 600px;
    margin-left: -10%;
  }
}

@media (min-width: 1400px) {
  .modal_wrap_container {
    width: 1200px;
    height: 600px;
    margin-left: -5%;
  }
}

@media (min-width: 1600px) {
  .modal_wrap_container {
    width: 1300px;
    height: 700px;
    margin-left: 0%;
  }
}
/*# sourceMappingURL=MyExtStyle.css.map */